In [1]:
from IPython.display import IFrame  
ciaLink2="https://www.cia.gov/the-world-factbook/field/revenue-from-forest-resources/country-comparison" 
IFrame(ciaLink2, width=900, height=900)

In [2]:
import html5lib

In [3]:
# read web table into pandas DF
import pandas as pd

forestDFs=pd.read_html(ciaLink2, # link
                        header=0, # where is the header?
                        flavor='bs4')

In [4]:
# check object type 
type(forestDFs)

list

In [5]:
# check size
len(forestDFs)

1

In [6]:
# make a copy
forest=forestDFs[0].copy()

In [7]:
forest

     Rank                   Country  % of GDP Date of Information
0       1           Solomon Islands     20.27           2018 est.
1       2                   Liberia     13.27           2018 est.
2       3                   Burundi     10.31           2018 est.
3       4             Guinea-Bissau      9.24           2018 est.
4       5  Central African Republic      8.99           2018 est.
..    ...                       ...       ...                 ...
199   200                    Tuvalu      0.00           2018 est.
200   201      United Arab Emirates      0.00           2018 est.
201   202                Uzbekistan      0.00           2018 est.
202   203            Virgin Islands      0.00           2017 est.
203   204                 West Bank      0.00           2018 est.

[204 rows x 4 columns]

In [8]:
forest.columns

Index(['Rank', 'Country', '% of GDP', 'Date of Information'], dtype='object')

In [9]:
forest.columns.to_list()

['Rank', 'Country', '% of GDP', 'Date of Information']

In [10]:
forest['Date of Information'].value_counts()

2018 est.    195
2017 est.      7
2015 est.      1
2016 est.      1
Name: Date of Information, dtype: int64

In [11]:
forest.columns = forest.columns.str.replace('% of GDP', 'pct of GDP')

In [12]:
forest

     Rank                   Country  pct of GDP Date of Information
0       1           Solomon Islands       20.27           2018 est.
1       2                   Liberia       13.27           2018 est.
2       3                   Burundi       10.31           2018 est.
3       4             Guinea-Bissau        9.24           2018 est.
4       5  Central African Republic        8.99           2018 est.
..    ...                       ...         ...                 ...
199   200                    Tuvalu        0.00           2018 est.
200   201      United Arab Emirates        0.00           2018 est.
201   202                Uzbekistan        0.00           2018 est.
202   203            Virgin Islands        0.00           2017 est.
203   204                 West Bank        0.00           2018 est.

[204 rows x 4 columns]

In [13]:
borrar_columna = ['Rank']
forest.drop(columns=borrar_columna, inplace=True)

In [14]:
forest

                      Country  pct of GDP Date of Information
0             Solomon Islands       20.27           2018 est.
1                     Liberia       13.27           2018 est.
2                     Burundi       10.31           2018 est.
3               Guinea-Bissau        9.24           2018 est.
4    Central African Republic        8.99           2018 est.
..                        ...         ...                 ...
199                    Tuvalu        0.00           2018 est.
200      United Arab Emirates        0.00           2018 est.
201                Uzbekistan        0.00           2018 est.
202            Virgin Islands        0.00           2017 est.
203                 West Bank        0.00           2018 est.

[204 rows x 3 columns]

In [15]:
forest.rename(columns={'Date of Information' : 'forest_date'})

                      Country  pct of GDP forest_date
0             Solomon Islands       20.27   2018 est.
1                     Liberia       13.27   2018 est.
2                     Burundi       10.31   2018 est.
3               Guinea-Bissau        9.24   2018 est.
4    Central African Republic        8.99   2018 est.
..                        ...         ...         ...
199                    Tuvalu        0.00   2018 est.
200      United Arab Emirates        0.00   2018 est.
201                Uzbekistan        0.00   2018 est.
202            Virgin Islands        0.00   2017 est.
203                 West Bank        0.00   2018 est.

[204 rows x 3 columns]

In [16]:
forest.columns.str.contains(pat=r'\s', regex=True)

array([False,  True,  True])

In [17]:
forest.columns = forest.columns.str.replace(pat=r'\s',repl='', regex = True)

In [18]:
forest

                      Country  pctofGDP DateofInformation
0             Solomon Islands     20.27         2018 est.
1                     Liberia     13.27         2018 est.
2                     Burundi     10.31         2018 est.
3               Guinea-Bissau      9.24         2018 est.
4    Central African Republic      8.99         2018 est.
..                        ...       ...               ...
199                    Tuvalu      0.00         2018 est.
200      United Arab Emirates      0.00         2018 est.
201                Uzbekistan      0.00         2018 est.
202            Virgin Islands      0.00         2017 est.
203                 West Bank      0.00         2018 est.

[204 rows x 3 columns]

In [19]:
forest.Country.str.strip()

0               Solomon Islands
1                       Liberia
2                       Burundi
3                 Guinea-Bissau
4      Central African Republic
                 ...
199                      Tuvalu
200        United Arab Emirates
201                  Uzbekistan
202              Virgin Islands
203                   West Bank
Name: Country, Length: 204, dtype: object

In [20]:
forest.DateofInformation.str.strip()

0      2018 est.
1      2018 est.
2      2018 est.
3      2018 est.
4      2018 est.
         ...
199    2018 est.
200    2018 est.
201    2018 est.
202    2017 est.
203    2018 est.
Name: DateofInformation, Length: 204, dtype: object

In [21]:
forest.DateofInformation.str.extract(pat=r'(\d+)',expand=True)

        0
0    2018
1    2018
2    2018
3    2018
4    2018
..    ...
199  2018
200  2018
201  2018
202  2017
203  2018

[204 rows x 1 columns]