In [1]:
from IPython.display import IFrame  
ciaLink1="https://www.cia.gov/the-world-factbook/field/carbon-dioxide-emissions/country-comparison" 
IFrame(ciaLink1, width=900, height=900)

In [2]:
# read web table into pandas DF
import pandas as pd

linkToFile='https://github.com/CienciaDeDatosEspacial/code_and_data/raw/main/data/carbonEmi_downloaded.csv'
carbon=pd.read_csv(linkToFile)

In [3]:
carbon

,name,slug,value,date_of_information,ranking,region
0,China,china,"10,773,248,000.0",2019 est.,1,East and Southeast Asia
1,United States,united-states,"5,144,361,000.0",2019 est.,2,North America
2,India,india,"2,314,738,000.0",2019 est.,3,South Asia
3,Russia,russia,"1,848,070,000.0",2019 est.,4,Central Asia
4,Japan,japan,"1,103,234,000.0",2019 est.,5,East and Southeast Asia
...,...,...,...,...,...,...
213,Antarctica,antarctica,"28,000.0",2019 est.,214,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha",saint-helena-ascension-and-tristan-da-cunha,"13,000.0",2019 est.,215,Africa
215,Niue,niue,"8,000.0",2019 est.,216,Australia and Oceania
216,Northern Mariana Islands,northern-mariana-islands,0.0,2019 est.,217,Australia and Oceania
217,Tuvalu,tuvalu,0.0,2019 est.,218,Australia and Oceania

In [4]:
carbon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 218 non-null    object
 1   slug                 218 non-null    object
 2   value                218 non-null    object
 3   date_of_information  218 non-null    object
 4   ranking              218 non-null    int64
 5   region               218 non-null    object
dtypes: int64(1), object(5)
memory usage: 10.3+ KB

In [5]:
carbon.region.value_counts()

Africa                               55
Europe                               43
Central America and the Caribbean    27
East and Southeast Asia              20
Australia and Oceania                20
Middle East                          19
South America                        13
South Asia                            8
North America                         6
Central Asia                          6
Antarctica                            1
Name: region, dtype: int64

In [6]:
carbon.date_of_information.value_counts()

2019 est.    216
2012 est.      1
2017 est.      1
Name: date_of_information, dtype: int64

In [7]:
#Elimino slug y ranking usando "drop"
byeColumns=['slug','ranking']

#El resultado
carbon.drop(columns=byeColumns,inplace=True)
#Ahora
carbon

,name,value,date_of_information,region
0,China,"10,773,248,000.0",2019 est.,East and Southeast Asia
1,United States,"5,144,361,000.0",2019 est.,North America
2,India,"2,314,738,000.0",2019 est.,South Asia
3,Russia,"1,848,070,000.0",2019 est.,Central Asia
4,Japan,"1,103,234,000.0",2019 est.,East and Southeast Asia
...,...,...,...,...
213,Antarctica,"28,000.0",2019 est.,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha","13,000.0",2019 est.,Africa
215,Niue,"8,000.0",2019 est.,Australia and Oceania
216,Northern Mariana Islands,0.0,2019 est.,Australia and Oceania
217,Tuvalu,0.0,2019 est.,Australia and Oceania

In [8]:
carbon.rename(columns = {'date_of_information':'carbon_date'}, inplace = True)

In [9]:
carbon

,name,value,carbon_date,region
0,China,"10,773,248,000.0",2019 est.,East and Southeast Asia
1,United States,"5,144,361,000.0",2019 est.,North America
2,India,"2,314,738,000.0",2019 est.,South Asia
3,Russia,"1,848,070,000.0",2019 est.,Central Asia
4,Japan,"1,103,234,000.0",2019 est.,East and Southeast Asia
...,...,...,...,...
213,Antarctica,"28,000.0",2019 est.,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha","13,000.0",2019 est.,Africa
215,Niue,"8,000.0",2019 est.,Australia and Oceania
216,Northern Mariana Islands,0.0,2019 est.,Australia and Oceania
217,Tuvalu,0.0,2019 est.,Australia and Oceania

In [10]:
#Celdas con texto (name y region) sin espacio al final ni al principio
carbon.name.str.strip()

0                                              China
1                                      United States
2                                              India
3                                             Russia
4                                              Japan
                           ...
213                                       Antarctica
214    Saint Helena, Ascension, and Tristan da Cunha
215                                             Niue
216                         Northern Mariana Islands
217                                           Tuvalu
Name: name, Length: 218, dtype: object

In [11]:
#Celdas con texto (name y region) sin espacio al final ni al principio
carbon.region.str.strip()

0      East and Southeast Asia
1                North America
2                   South Asia
3                 Central Asia
4      East and Southeast Asia
                ...
213                 Antarctica
214                     Africa
215      Australia and Oceania
216      Australia and Oceania
217      Australia and Oceania
Name: region, Length: 218, dtype: object

In [12]:
#Detectar la presencia de símbolos en la data numérica que no son números o puntos 
#'\D' representa todo lo que no es un número
carbon.value.str.contains(pat=r'\D', regex=True)

0      True
1      True
2      True
3      True
4      True
       ...
213    True
214    True
215    True
216    True
217    True
Name: value, Length: 218, dtype: bool

In [13]:
carbon.value[carbon.value.str.contains(pat=r'\D', regex=True)]

0      10,773,248,000.0
1       5,144,361,000.0
2       2,314,738,000.0
3       1,848,070,000.0
4       1,103,234,000.0
             ...
213            28,000.0
214            13,000.0
215             8,000.0
216                 0.0
217                 0.0
Name: value, Length: 218, dtype: object

In [14]:
#Detectar la presencia de símbolos en la data numérica que no son números o puntos 
carbon.carbon_date.str.contains(pat=r'\D', regex=True)

0      True
1      True
2      True
3      True
4      True
       ...
213    True
214    True
215    True
216    True
217    True
Name: carbon_date, Length: 218, dtype: bool

In [15]:
carbon.carbon_date[carbon.carbon_date.str.contains(pat=r'\D', regex=True)]

0      2019 est.
1      2019 est.
2      2019 est.
3      2019 est.
4      2019 est.
         ...
213    2019 est.
214    2019 est.
215    2019 est.
216    2019 est.
217    2019 est.
Name: carbon_date, Length: 218, dtype: object

In [16]:
#Verificando si hay espacios en los nombres de las columnas
carbon.columns.str.replace(' ', '')

Index(['name', 'value', 'carbon_date', 'region'], dtype='object')

In [17]:
#A pesar que no se ven los espacios a primera vista en los nombres de las columnas, los eliminamos por si acaso
carbon.columns = carbon.columns.str.replace(' ', '')
carbon

,name,value,carbon_date,region
0,China,"10,773,248,000.0",2019 est.,East and Southeast Asia
1,United States,"5,144,361,000.0",2019 est.,North America
2,India,"2,314,738,000.0",2019 est.,South Asia
3,Russia,"1,848,070,000.0",2019 est.,Central Asia
4,Japan,"1,103,234,000.0",2019 est.,East and Southeast Asia
...,...,...,...,...
213,Antarctica,"28,000.0",2019 est.,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha","13,000.0",2019 est.,Africa
215,Niue,"8,000.0",2019 est.,Australia and Oceania
216,Northern Mariana Islands,0.0,2019 est.,Australia and Oceania
217,Tuvalu,0.0,2019 est.,Australia and Oceania

In [18]:
#Solo dejar los números en la columna "carbon_date"
carbon['carbon_date']=carbon.carbon_date.str.extract(pat=r'(\d+)',expand=True)

In [19]:
#Ahora
carbon

,name,value,carbon_date,region
0,China,"10,773,248,000.0",2019,East and Southeast Asia
1,United States,"5,144,361,000.0",2019,North America
2,India,"2,314,738,000.0",2019,South Asia
3,Russia,"1,848,070,000.0",2019,Central Asia
4,Japan,"1,103,234,000.0",2019,East and Southeast Asia
...,...,...,...,...
213,Antarctica,"28,000.0",2019,Antarctica
214,"Saint Helena, Ascension, and Tristan da Cunha","13,000.0",2019,Africa
215,Niue,"8,000.0",2019,Australia and Oceania
216,Northern Mariana Islands,0.0,2019,Australia and Oceania
217,Tuvalu,0.0,2019,Australia and Oceania

In [22]:
# import os

# carbonCleaned.to_csv(os.path.join("data","carbonCleaned.csv"),index=False)